<%if(pagetype=='tag'){%>
    <%var current_page = page.tag%>
    <%var type_dic = 'tags'%>
<%}else if(pagetype=='category'){%>
    <%var current_page = page.category%>
    <%var type_dic = 'categories'%>
<%}%>

<div class="mdui-card mdui-p-a-4 mdui-m-b-5">
    <div class="posts-collapse">
        <div class="collection-title">
            <h2><%=current_page%><small><%-__(type_dic)%></small></h2>
        </div>
        <%page.posts.data.forEach(function(element) {%>
            <div class="collection-item">
                <h3><a href="<%-url_for(element.path)%>"><%=element.title%></a></h3>
                <time itemprop="dateCreated" datetime=<%-date(element.date)%> >
                    <%-date(element.date,'Y.MM.DD')%>
                </time>
            </div>
        <%})%>
    </div>
</div>

<%- partial('_partial/pagination') %>