<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/js-md5@0.7.3/src/md5.min.js"></script>
<script>
  var gitalk = new Gitalk({
    clientID: '<%= theme.comment.gitalk_client_id %>',
    clientSecret: '<%= theme.comment.gitalk_client_secret %>',
    repo: '<%= theme.comment.gitalk_repo %>',
    owner: '<%= theme.comment.gitalk_owner %>',
    admin: ['<%= theme.comment.gitalk_owner %>'],
    id:  md5(location.pathname) ,
    distractionFreeMode: '<%= theme.comment.gitalk_distractionFreeMode %>',
  });
  gitalk.render('gitalk-container');
</script>