<div class="mdui-card-menu">
    <% if (page.share_menu !== false) { %>
      <button class="mdui-btn mdui-btn-icon mdui-text-color-teal" mdui-menu="{target: '#share_menu', align: 'right'}"><i class="iconfont icon-share"></i></button>
      <ul class="mdui-menu" id="share_menu">
        <li class="mdui-menu-item">
          <a href="http://service.weibo.com/share/share.php?appkey=&title=<%= page.title %>&url=<%- page.permalink %>&pic=<%- config.url + url_for(theme.favicon) %>&searchPic=false&style=simple" target="_blank" class="mdui-ripple"><%= __('share.weibo') %></a>
        </li>
        <li class="mdui-menu-item">
          <a href="https://twitter.com/intent/tweet?text=<%= page.title %>&url=<%- page.permalink %>&via=<%= config.author %>" target="_blank" class="mdui-ripple"><%= __('share.twitter') %></a>
        </li>
        <li class="mdui-menu-item">
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%- page.permalink %>" target="_blank" class="mdui-ripple"><%= __('share.facebook') %></a>
        </li>
        <li class="mdui-menu-item">
          <a href="https://plus.google.com/share?url=<%- page.permalink %>" target="_blank" class="mdui-ripple"><%= __('share.google_plus') %></a>
        </li>
        <li class="mdui-menu-item">
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%- page.permalink %>&title=<%= page.title %>" target="_blank" class="mdui-ripple"><%= __('share.linkedin') %></a>
        </li>
        <li class="mdui-menu-item">
          <a href="http://connect.qq.com/widget/shareqq/index.html?site=<%= config.title %>&title=<%= page.title %>&summary=<%= config.description %>&pics=<%- config.url + url_for(theme.favicon) %>&url=<%- page.permalink %>" target="_blank" class="mdui-ripple"><%= __('share.qq') %></a>
        </li>
        <li class="mdui-menu-item">
          <a href="https://telegram.me/share/url?url=<%- page.permalink %>&text=<%= page.title %>" target="_blank" class="mdui-ripple"><%= __('share.telegram') %></a>
        </li>
      </ul>
    <% } %>
  </div>