<div class="post-header"> 
  <a class="post-header-title" href="<%-url_for(postpage.path)%>"><%=postpage.title%></a>
  <div class="post-header-meta">
    <span>
      <i class="fa fa-calendar"></i>
      <%=__('post.posted')%>:&nbsp;<%=date(postpage.date)%>
    </span>
    <span>
      <i class="fa fa-calendar-check"></i>
      <%=__('post.edited')%>:&nbsp;<%=date(postpage.updated)%>
    </span>
    <span>
      <i class="fa fa-folder"></i>
      <%=__('post.in')%>:&nbsp;<%- list_categories(postpage.categories, {show_count: false, style: 'none', separator: ' > '}) %>
    </span>
    <%if(busuanzi && theme.busuanzi.site){%>
      <span>
        <i class="fa fa-eye"></i>
        <%=__('post.views')%>:&nbsp;
        <span id="busuanzi_container_page_pv"><span id="busuanzi_value_page_pv"></span></span>
      </span>
    <%}%>
  </div>
</div>   
    


