<div class="post-header"> 
  <a class="post-header-title" href="<%-url_for(postpage.path)%>"><%=postpage.title%></a>
  <div class="post-header-meta">
    <span>
      <span class="iconfont icon-calendar"></span>
      <%=__('post.posted')%>:&nbsp;<%=date(postpage.date)%>
    </span>
    <span>
      <span class="iconfont icon-calendar-check"></span>
      <%=__('post.edited')%>:&nbsp;<%=date(postpage.updated)%>
    </span>
    <span>
      <span class="iconfont icon-folder"></span>
      <%=__('post.in')%>:&nbsp;<%- list_categories(postpage.categories, {show_count: false, style: 'none', separator: ' > '}) %>
    </span>
    <%if(busuanzi && theme.busuanzi.site){%>
      <span>
        <span class="iconfont icon-eye"></span>
        <%=__('post.views')%>:&nbsp;
        <span id="busuanzi_container_page_pv"><span id="busuanzi_value_page_pv"></span></span>
      </span>
    <%}%>
  </div>
</div>   
    


