<%var title_year = '0'%>

<div class="mdui-card mdui-p-a-4 mdui-m-b-5">
    <div class="page-describe">
        <%=_p('counter.archives',site.posts.length)%>
    </div>
    <div class="posts-collapse">
        <%page.posts.data.forEach(function(element) {%>
            <%var item_year=date(element.date,'Y')%>
            <%if(item_year != title_year){%>
                <div class="collection-title">
                    <a href="<%- url_for('/archives/' + item_year) %>"><h2><%=item_year%><small><%-__('archives')%></small></h2></a>
                </div>
                <%title_year = item_year%>
            <%}%>

            <div class="collection-item">
                <h3><a href="<%-url_for(element.path)%>"><%=element.title%></a></h3>
                <time itemprop="dateCreated" datetime=<%-date(element.date)%> >
                    <%-date(element.date,'Y.MM.DD')%>
                </time>
            </div>
        <%})%>
    </div>
</div>

<%- partial('_partial/pagination') %>