<% page.posts.each(function (post) { %>
    <article class="mdui-card mdui-m-b-5 mdui-hoverable">    
      <%#文章标题图片%>
      <% if (post.photos.length != 0) { %>
        <div class="mdui-card-media">
          <% post.photos.forEach(function(element) { %>
            <img src = <%= element %> >
          <%})%>
          <div class="mdui-card-media-covered">
            <%- partial('_partial/post/post-header',{postpage: post, busuanzi: false})  %>
          </div>
        </div>
      <% } else { %>
        <%- partial('_partial/post/post-header',{postpage: post, busuanzi: false}) %>
      <%}%>
      <%- partial('_partial/post/post-tag',{postpage: post}) %>
      <%# 摘要 %>
      <div id="achieve-abstract" class="mdui-card-content mdui-p-x-4">
        <div class="post-abstract mdui-typo ">
          <% if (post.excerpt) { %>
            <%- trim(post.excerpt) %>
          <% } else { 
            let abstract = truncate(trim(post.content), {length: theme.excerpt_length});
            let abstractList = abstract.split('</pre></td></tr></table></figure>');
            if(abstractList.length > 1){
              abstractList.pop();
              abstract = abstractList.join('') + '</pre></td></tr></table></figure>';
            } else {
              abstractList = abstract.split('<figure');
              if(abstractList.length > 1){
                abstract = trim(post.content).split('</pre></td></tr></table></figure>')[0] + '</pre></td></tr></table></figure>';
              }
            };  %>
            <%- abstract %>
          <% } %>
        </div>
        <%# 阅读更多%>
        <div style="text-align:center;">
          <a class="post-readmore mdui-btn mdui-ripple mdui-btn-raised" href="<%-url_for(post.path)%>"><%= __('more') %></a>
        </div>
      </div>
    </article>
<% }); %>

<%- partial('_partial/pagination') %>