<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-<%= theme.theme_color.primary || 'indigo' %> mdui-theme-accent-<%= theme.theme_color.accent || 'pink' %>">
  <%# 黑暗模式 mdui-theme-layout-dark%>
  <%- partial('_partial/header') %>
  <%- partial('_partial/sidebar') %>
  <%# 主体 %>
  <main id="main-contain" class="mdui-container mdui-m-t-5">
    <%- body %>
  </main>
  <%- partial('_partial/footer') %>
  <%# 返回顶部按钮 %>
  <button id="gotop" class="mdui-fab mdui-fab-fixed mdui-fab-hide mdui-ripple mdui-color-teal" style="z-index:100;"><i class="iconfont icon-arrowup"></i></button>
  <%# body尾部加载js%>
  <%- partial('_partial/bodyload') %>
</body>
</html >