<div class="mdui-card mdui-p-b-2 mdui-m-b-5">
    <div class="post-header"> 
        <a class="post-header-title" href="<%-url_for(page.path)%>"><%= (__(page.title.toLowerCase())==page.title.toLowerCase())?titlecase(page.title):__(page.title.toLowerCase()) %></a>
    </div>
    <div id="page-card" class="mdui-card-content mdui-p-x-4">
        <%if(page.type=='categories'){%>
            <%- partial('_partial/page/categories') %>
        </div>
        <%}else if(page.type=='tags'){%>
            <%- partial('_partial/page/tags') %>
        </div>
        <%}else{%>
            <%  if(typeof(page.ad) == "undefined") {
                    var isPageAd = theme.google_adsense.page_ad;
                } else { 
                    var isPageAd = page.ad;
                } 
            %>
            <% if (theme.google_adsense.enabled && theme.google_adsense.banner_slot && isPageAd) { %>
                <div class="adsense-contain">
                  <%- partial('_adsense/banner') %>
                </div>
            <% } %>
            <%# 正文%>
            <%- page.content %>
            <% if (theme.google_adsense.enabled && theme.google_adsense.footer_slot && isPageAd) { %>
                <div class="adsense-contain">
                  <%- partial('_adsense/footer') %>
                </div>
            <% } %>
        </div>
    </div>
    <%- partial('_plugin/comment/index') %>
<%}%>
