<% page.posts.each(function (post) { %>
    <article class="mdui-card mdui-m-b-5 mdui-p-a-2 mdui-hoverable">    
      <%#文章标题图片%>
      <% if (post.photos.length != 0) { %>
        <div class="mdui-card-media">
          <% post.photos.forEach(function(element) { %>
            <img src = <%= element %> >
          <%})%>
          <div class="mdui-card-media-covered">
            <%- partial('_partial/post/post-header',{postpage: post, busuanzi: false})  %>
          </div>
        </div>
      <% } else { %>
        <%- partial('_partial/post/post-header',{postpage: post, busuanzi: false}) %>
      <%}%>
      <%# 摘要 %>
      <div class="mdui-card-content">
        <p class="post-abstract">
          <% if (post.excerpt) { %>
            <%- strip_html(post.excerpt) %>
          <% } else { %>
            <%- truncate(strip_html(post.content), {length: theme.excerpt_length}) %>
          <% } %>
        </p>
        <%# 阅读更多%>
        <div style="text-align:center;">
          <a class="post-readmore mdui-btn mdui-ripple mdui-btn-raised" href="<%-url_for(post.path)%>"%>><%= __('more') %></a>
        </div>
      </div>
      <%- partial('_partial/post/post-tag',{postpage: post}) %>
    </article>
<% }); %>
<%- partial('_partial/pagination') %>