<article id="article" class="mdui-card mdui-p-b-2 mdui-m-b-5">
  <header class="mdui-card-media">
    <%# Post Header %>
    <% if (page.photos.length != 0) { %>
      <% page.photos.forEach(function(element) { %>
        <img src = <%= element %> >
      <% }) %>
      <div class="mdui-card-media-covered">
        <%- partial('_partial/post/post-header',{postpage: page, busuanzi: true}) %>
      </div>
    <%} else {%>
      <%- partial('_partial/post/post-header',{postpage: page, busuanzi: true}) %>
    <%}%>
    <%#分享按钮%>
    <%- partial('_partial/post/post-share') %>
  </header>
  <%#页首广告%>
  <% if (theme.google_adsense.enabled && theme.google_adsense.banner_slot) { %>
    <div class="adsense-contain">
      <%- partial('_adsense/banner') %>
    </div>
  <% } %>
  <%# 文章标签 %>
  <%- partial('_partial/post/post-tag',{postpage: page}) %>
  <%# 正文 %>
  <div class="mdui-card-content mdui-typo mdui-p-x-4">
    <%- page.content %>
  </div>
  <!--文末结束语-->
  <% if (theme.passage_end_tag.enabled == true) { %>
    <div style="text-align:center;color: #ccc;font-size:24px;"> <%- theme.passage_end_tag.text %> </div>
  <% } %>
  <!--页脚广告-->
  <% if (theme.google_adsense.enabled && theme.google_adsense.footer_slot) { %>
    <div class="adsense-contain">
      <%- partial('_adsense/footer') %>
    </div>
  <% } %>
  <div class="mdui-divider"></div>
  <%# 底部文章前后导航 %>
  <nav>
    <% if (page.prev) { %>
      <a rel="prev" class="post-nav-item mdui-float-left" href="<%- url_for(page.prev.path) %>">
        <i class="iconfont icon-angle-left"></i>
        <span><%- page.prev.title %></span>
      </a>
    <% } %>
    <% if (page.next) { %>
      <a rel="next" class="post-nav-item mdui-float-right" href="<%- url_for(page.next.path) %>">
        <span><%- page.next.title %></span>
        <i class="iconfont icon-angle-right"></i>
      </a>
    <% } %>
  </nav>
</article>

<%# TOC %>
<% var toc = toc(page.content, {class: 'toc', list_number: true}) %>
<% if (page.toc != false) { %>
  <div class="toc-button"  style="z-index: 100;">
    <button class="mdui-fab mdui-ripple mdui-color-teal" mdui-menu="{target: '#toc'}"><i class="iconfont icon-list"></i></button>
    <ul class="mdui-menu" id="toc">
      <li class="mdui-menu-item">
        <a href="<%-url_for(page.path)%>" id="toc-header" class="mdui-ripple"><%=__("sidebar.toc")%></a>
        <%- toc %>
      </li>
    </ul>
  </div>
<% } %>

<%- partial('_plugin/comment/index') %>