<footer id="footer" class="mdui-text-center mdui-m-t-5 mdui-p-b-2 mdui-p-t-4 mdui-color-theme">
  <div class="mdui-container">
    <div class="mdui-row">
      <%if(theme.footer.beian.enable == true){%>
        <a href="https://beian.miit.gov.cn" rel="noopener" target="_blank"><%= theme.footer.beian.icp %></a>
      <%}%>
      <span>
        &copy; <% if (theme.footer.since) { %><%= theme.footer.since %> - <% } %><%- date(new Date(), 'YYYY') %> 
        <%if(theme.footer.icon.enabled){%>
          <span style="color:<%=theme.footer.icon.color%>" class="iconfont <%=theme.footer.icon.name%>"></span>
        <%}%>
        <%= config.author || config.title %>
      </span>
    </div>
    <div class="mdui-row">
      <%if(theme.footer.powered && theme.footer.theme){%>
        <div class="mdui-col-xs-6 mdui-text-right">
          <span>Powered by <a href="https://hexo.io/" rel="noopener" target="_blank">Hexo</a></span>
        </div>
        <div class="mdui-col-xs-6 mdui-text-left">
          <span>Theme: <a href="https://github.com/kb1000fx/Meadow" rel="noopener" target="_blank">Meadow</a></span>
        </div>
      <%}else if(theme.footer.powered){%>
        <span>Powered by <a href="https://hexo.io/" rel="noopener" target="_blank">Hexo</a></span>
      <%}else{%>
        <span>Theme: <a href="https://github.com/kb1000fx/hexo-theme-meadow" rel="noopener" target="_blank">Meadow</a></span>
      <%}%>
    </div>
    <div class="mdui-row">
      <% if (theme.busuanzi.site) { %>
        <div class="mdui-col-xs-6 mdui-text-right">
          <span id="busuanzi_container_site_uv" style="display: none;"> <span class="iconfont icon-user"></span><%=__('footer.total_visitors')%> <span id="busuanzi_value_site_uv"></span></span>
        </div>
        <div class="mdui-col-xs-6 mdui-text-left">
          <span id="busuanzi_container_site_pv" style="display: none;"> <span class="iconfont icon-eye"></span><%=__('footer.total_views')%> <span id="busuanzi_value_site_pv"></span></span>
        </div>
      <% } %>
    </div>
 </div>
</footer>