<header class="mdui-appbar mdui-appbar-fixed">
  <div id="toolbar" class="mdui-toolbar mdui-color-theme">
    <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#sidebar', swipe: true}"><i class="iconfont icon-menu"></i></button>
    <a href="<%- url_for() %>" class="mdui-typo-headline"><%= config.title %></a>
    <a href="<%- url_for() %>" class="header-subtitle mdui-typo-headline"><%= config.subtitle %></a>
    <div class="mdui-toolbar-spacer"></div>
    <button class="mdui-btn mdui-btn-icon" mdui-dialog="{target: '#search'}" mdui-tooltip="{content: '<%= __('search') %>'}"><i class="iconfont icon-search"></i></button>
  </div>
</header>

<div class="mdui-dialog" id="search">
  <% if (theme.search.local) { %>
    <div class="search-form">
      <input type="search" class="search-form-input" placeholder="<%= theme.search.placeholder %>" onfocus="listenSearchFunc()">
    </div>
    <div class="search-result" data-resource="<%- url_for(theme.search.path) %>"></div>
  <% } 
  else { %>
    <%- search_form({class: 'search-form', text: theme.search.placeholder, button: false}) %>
    <div class="search-result"></div>
  <% } %>
</div>
