<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <%# 修改Referrer Policy %>
    <meta name="referrer" content="no-referrer-when-downgrade">
    <%# 浏览器升级提示  %>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); </script>
    <%# 字体预加载 %>
    <%if(theme.preload){%>
        <link rel="preload" crossorigin="crossorigin" href="/fonts/roboto/Roboto-Regular.woff2" as="font">
        <link rel="preload" crossorigin="crossorigin" href="/fonts/roboto/Roboto-Bold.woff2" as="font">
    <%}%>
    <%# favicon %>
    <%if(theme.favicon){%>
        <link rel="shortcut icon" href="<%=theme.favicon%>">
    <%}else{%>
        <link rel="shortcut icon" href="/icons/favicon.ico">
    <%}%>

    <%# CSS引入  %>
    <%if(page.mduiVer == '0.4.3') {%>
        <%- css(['css/mdui.min.v0.4.3.css']) %>
    <% } else {%>
        <%- css(['css/mdui.min.v1.0.0.css']) %>
    <% } %>
    <%- css(['css/main.css', 'css/iconfont.css']) %>

    <%# head加载js %>
    <%- partial('_partial/headload') %>
    <%# 题目 %>
    <%
        var title = page.title;
        if (is_archive()) {
            title = __('archive');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = __('category') + ': ' + page.category;
        } else if (is_tag()) {
            title = __('tag') + ': ' + page.tag;
        }
        title += " | " + config.title
    %>
    <title>
        <%if(page.title){%>
            <%= title %>
        <%}else{%>  
            <%= config.title %>
        <%}%>
    </title>
    <%#哀悼模式%>
    <%if(theme.mourn_mode==true){%>
        <style type="text/css">
            html{filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:url("data:p_w_picpath/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"grayscale\"><feColorMatrix type=\"matrix\" values=\"0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\"/></filter></svg>#grayscale");filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);filter:gray;-webkit-filter:grayscale(1)}
        </style> 
    <%}%>
</head>