<aside id="sidebar" class="mdui-drawer">
    <div class="mdui-tab" mdui-tab>
        <a href="#sidebar-tab1" id="sidebartab" class="mdui-ripple mdui-tab-active"><%=__("sidebar.overview")%></a>
        <a href="#sidebar-tab2" id="sidebartab" class="mdui-ripple"><%=__("sidebar.about")%></a>
    </div>

    <%# Tab 1 %>
    <div id="sidebar-tab1" class="mdui-p-a-1">
        <div class="mdui-list">
            <% for(element in theme.menu){%>
                <%var str = theme.menu[element].split(" || ")%>
                <a href="<%- url_for(str[0]) %>" class="mdui-list-item mdui-ripple">
                    <div class="mdui-list-item-icon">
                        <i class="iconfont <%=str[1]%>"></i>
                    </div>
                    <div class="mdui-list-item-content"><%= __(element) || element%></div>
                </a>
            <%}%>
            <div class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-icon">
                    <i class="iconfont icon-moon"></i>
                </div>
                <div class="mdui-list-item-content"><%=__('nightmode')%></div>
                <label class="mdui-switch" id="darkmode">
                  <input type="checkbox" id="nightmode_switch"/>
                  <i class="mdui-switch-icon"></i>
                </label>
            </div>           
        </div>
    </div>

    <%# Tab 2 %>
    <div id="sidebar-tab2" class="mdui-p-a-1">
        <div class="sidebar-overview">
            <div class="sidebar-avatar">
                <%if(theme.avatar){%>
                    <img src="<%=theme.avatar%>"/>
                <%}else{%>
                    <img src="/icons/avatar.gif"/>
                <%}%>
            </div>
            <div class="sidebar-author-name"><%=config.author%></div>
            <div class="sidebar-description"><%=config.description%></div>
        </div>
        <div class="sidebar-links">
            <% for(element in theme.social){%>
                <%var str = theme.social[element].split(" || ")%>
                <div class="mdui-chip">
                    <span class="mdui-chip-icon"><i class="iconfont <%=str[1]%>"></i></span>
                    <a href="<%- url_for(str[0]) %>" class="mdui-chip-title"><%= __(element) || element%></a>
                </div>
            <%}%>
        </div>
        <ul class="mdui-list" mdui-collapse="{accordion: true}">
            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <div class="mdui-list-item-icon">
                        <i class="iconfont icon-link"></i>
                    </div>
                    <div class="mdui-list-item-content"><%= __('sidebar.links') %></div>
                    <div class="mdui-collapse-item-arrow">
                        <i class="mdui-list-item-icon iconfont icon-angle-down"></i>
                    </div>
                </div>
                <ul id="linksList" class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <% for(element in theme.links){%>
                        <a href="<%= theme.links[element] %>" class="mdui-list-item mdui-ripple">
                            <%= __(element) || element%>
                        </a>
                    <%}%>
                </ul>
            </li>
        </ul>
    </div>

    <div class="mdui-divider"></div>
    <%#侧边栏广告%>
    <% if (theme.google_adsense.enabled && theme.google_adsense.footer_slot) { %>
        <div class="adsense-contain">
            <%- partial('_adsense/sidebar') %>
        </div>
    <% } %>
</aside>