<aside id="sidebar" class="mdui-drawer">
    <div class="mdui-tab" mdui-tab>
        <a href="#sidebar-tab1" id="sidebartab" class="mdui-ripple mdui-tab-active"><%=__("sidebar.overview")%></a>
        <a href="#sidebar-tab2" id="sidebartab" class="mdui-ripple"><%=__("sidebar.about")%></a>
    </div>

    <%# Tab 1 %>
    <div id="sidebar-tab1" class="mdui-p-a-2">
        <div class="mdui-list">
            <% for(element in theme.menu){%>
                <%var str = theme.menu[element].split(" || ")%>
                <a href="<%- url_for(str[0]) %>" class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons"><%=str[1]%></i>
                    <div class="mdui-list-item-content"><%= __(element) || element%></div>
                </a>
            <%}%>
            <div class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">brightness_2</i>
                <div class="mdui-list-item-content"><%=__('nightmode')%></div>
                <label class="mdui-switch" id="darkmode">
                  <input type="checkbox" id="nightmode_switch"/>
                  <i class="mdui-switch-icon"></i>
                </label>
            </div>           
        </div>
    </div>

    <%# Tab 2 %>
    <div id="sidebar-tab2" class="mdui-p-a-2">
        <div class="sidebar-overview">
            <div class="sidebar-avatar">
                <%if(theme.avatar){%>
                    <img src="<%=theme.avatar%>"/>
                <%}else{%>
                    <img src="/icons/avatar.gif"/>
                <%}%>
            </div>
            <div class="sidebar-author-name"><%=config.author%></div>
            <div class="sidebar-description"><%=config.description%></div>
        </div>
        <div class="sidebar-links">
            <% for(element in theme.social){%>
                <%var str = theme.social[element].split(" || ")%>
                <div class="mdui-chip">
                    <span class="mdui-chip-icon"><i class="<%=str[1]%>"></i></span>
                    <a href="<%- url_for(str[0]) %>" class="mdui-chip-title"><%= __(element) || element%></a>
                </div>
            <%}%>
        </div>
    </div>
    <div class="mdui-divider"></div>
    <%#侧边栏广告%>
    <% if (theme.google_adsense.enabled && theme.google_adsense.footer) { %>
        <div class="adsense-contain">
            <%- partial(theme.google_adsense.sidebar) %>
        </div>
    <% } %>
</aside>